In [53]:
import pandas as pd

In [54]:
metadata = pd.read_csv('/Users/harrisonma/Documents/PhD Classes/2025 Spring/CSE 283/CSE-283-Proj/data/pnas_patient_info.csv', index_col=0)
metadata.head()

,fu,Final.Library.Conc..nM.,Final.Library.Conc..ng.ul.,sample.name.in.MiniSeq,sample_id,On.Plate,readcount,avglength,uniquely_mapped_reads,uniquely_mapped_Percent,...,cancertype,cancerstage_cat,er_cat,pr_cat,her2_cat,chemo,datechemostart,datechemoend,daterecurrence,recurStatus
poiseid,,,,,,,,,,,,,,,,,,,,,
2006,2,81.01,15.83,ZZ-20170524-Cellfree-10-01,S01_B14,A1,435826,75,370649,85.05%,...,Ductal,3,0,0,0,AC/T,31/12/2008,08/04/2009,29/06/2009,R
2006,3,35.99,7.03,ZZ-20170524-Cellfree-10-02,S02_B14,A2,563731,75,481372,85.39%,...,Ductal,3,0,0,0,AC/T,31/12/2008,08/04/2009,29/06/2009,R
2010,3,70.89,13.85,ZZ-20170524-Cellfree-10-03,S03_B14,A3,457102,74,399462,87.39%,...,Ductal,2,0,0,0,AC/T,07/01/2009,20/05/2009,09/11/2010,R
2010,4,114.20,22.31,ZZ-20170524-Cellfree-10-04,S04_B14,A4,638280,75,562452,88.12%,...,Ductal,2,0,0,0,AC/T,07/01/2009,20/05/2009,09/11/2010,R
2011,2,108.95,21.28,ZZ-20170524-Cellfree-10-05,S05_B14,A5,434579,75,382854,88.10%,...,Ductal,3,1,1,0,AC/T,12/01/2009,27/04/2009,22/12/2010,R

In [55]:
metadata_df = metadata[['datespecimen','On.Plate','er_cat','pr_cat','her2_cat','cancerstage_cat','chemo','datechemostart','datechemoend']]
metadata_df

,datespecimen,On.Plate,er_cat,pr_cat,her2_cat,cancerstage_cat,chemo,datechemostart,datechemoend
poiseid,,,,,,,,,
2006,11/03/2009,A1,0,0,0,3,AC/T,31/12/2008,08/04/2009
2006,17/06/2009,A2,0,0,0,3,AC/T,31/12/2008,08/04/2009
2010,17/06/2009,A3,0,0,0,2,AC/T,07/01/2009,20/05/2009
2010,13/01/2010,A4,0,0,0,2,AC/T,07/01/2009,20/05/2009
2011,13/04/2009,A5,1,1,0,3,AC/T,12/01/2009,27/04/2009
...,...,...,...,...,...,...,...,...,...
2005,03/06/2009,H8,1,1,0,2,TC,12/11/2008,14/01/2009
2003,15/01/2009,H9,1,1,0,2,AC/T,24/10/2008,12/02/2009
2003,02/07/2009,H10,1,1,0,2,AC/T,24/10/2008,12/02/2009
2002,22/12/2008,H11,1,1,1,3,AC/T,13/10/2008,19/01/2009
2002,15/04/2009,H12,1,1,1,3,AC/T,13/10/2008,19/01/2009

In [56]:
metadata_df['chemo_encoded'] = metadata_df['chemo'].map({
    'TC': 1,
    'AC/T': 2,
    'AC/T/D': 3
})
metadata_df.head()

/var/folders/dr/_r18syxx1yd9jgt5prvtlwcr0000gn/T/ipykernel_7577/2382283686.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  metadata_df['chemo_encoded'] = metadata_df['chemo'].map({

,datespecimen,On.Plate,er_cat,pr_cat,her2_cat,cancerstage_cat,chemo,datechemostart,datechemoend,chemo_encoded
poiseid,,,,,,,,,,
2006,11/03/2009,A1,0,0,0,3,AC/T,31/12/2008,08/04/2009,2.0
2006,17/06/2009,A2,0,0,0,3,AC/T,31/12/2008,08/04/2009,2.0
2010,17/06/2009,A3,0,0,0,2,AC/T,07/01/2009,20/05/2009,2.0
2010,13/01/2010,A4,0,0,0,2,AC/T,07/01/2009,20/05/2009,2.0
2011,13/04/2009,A5,1,1,0,3,AC/T,12/01/2009,27/04/2009,2.0

In [57]:
metadata_df['cancerstage_cat'].median()
# for metadata_df cancer stage > 5, set to 2
metadata_df['cancerstage_cat'] = metadata_df['cancerstage_cat'].replace(9, 2)
metadata_df['cancerstage_cat'].value_counts()

/var/folders/dr/_r18syxx1yd9jgt5prvtlwcr0000gn/T/ipykernel_7577/1735372839.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  metadata_df['cancerstage_cat'] = metadata_df['cancerstage_cat'].replace(9, 2)

cancerstage_cat
2    70
3    20
1     6
Name: count, dtype: int64

In [58]:
metadata_df['cancer_subtype'] = metadata_df['er_cat'].astype(str) + '_' + metadata_df['pr_cat'].astype(str) + '_' + metadata_df['her2_cat'].astype(str)
metadata_df['cancer_subtype'].value_counts()

/var/folders/dr/_r18syxx1yd9jgt5prvtlwcr0000gn/T/ipykernel_7577/3644163397.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  metadata_df['cancer_subtype'] = metadata_df['er_cat'].astype(str) + '_' + metadata_df['pr_cat'].astype(str) + '_' + metadata_df['her2_cat'].astype(str)

cancer_subtype
1_1_0    36
0_0_0    26
1_0_0    12
1_1_1    12
0_0_1    10
Name: count, dtype: int64

In [59]:
# one-hot encode the cancer subtype
metadata_df = pd.get_dummies(metadata_df, columns=['cancer_subtype'], prefix='', prefix_sep='')
# drop the original categorical columns
metadata_df = metadata_df.drop(columns=['er_cat', 'pr_cat', 'her2_cat','chemo'])
# rename the columns to remove the 'cancerstage_cat_' prefix
metadata_df = metadata_df.rename(columns=lambda x: x.replace('cancerstage_cat_', ''))
# rename chemo_encoded to chemo
metadata_df = metadata_df.rename(columns={'chemo_encoded': 'chemo'})
metadata_df.head()

,datespecimen,On.Plate,cancerstage_cat,datechemostart,datechemoend,chemo,0_0_0,0_0_1,1_0_0,1_1_0,1_1_1
poiseid,,,,,,,,,,,
2006,11/03/2009,A1,3,31/12/2008,08/04/2009,2.0,True,False,False,False,False
2006,17/06/2009,A2,3,31/12/2008,08/04/2009,2.0,True,False,False,False,False
2010,17/06/2009,A3,2,07/01/2009,20/05/2009,2.0,True,False,False,False,False
2010,13/01/2010,A4,2,07/01/2009,20/05/2009,2.0,True,False,False,False,False
2011,13/04/2009,A5,3,12/01/2009,27/04/2009,2.0,False,False,False,True,False

In [60]:
# make a new column for chemo duration in days
metadata_df['datechemostart'] = pd.to_datetime(metadata_df['datechemostart'], errors='coerce',dayfirst=True)
metadata_df['datechemoend'] = pd.to_datetime(metadata_df['datechemoend'], errors='coerce',dayfirst=True)
metadata_df['chemo_duration'] = (metadata_df['datechemoend'] - metadata_df['datechemostart']).dt.days
# drop the date columns

metadata_df.head()

,datespecimen,On.Plate,cancerstage_cat,datechemostart,datechemoend,chemo,0_0_0,0_0_1,1_0_0,1_1_0,1_1_1,chemo_duration
poiseid,,,,,,,,,,,,
2006,11/03/2009,A1,3,2008-12-31,2009-04-08,2.0,True,False,False,False,False,98
2006,17/06/2009,A2,3,2008-12-31,2009-04-08,2.0,True,False,False,False,False,98
2010,17/06/2009,A3,2,2009-01-07,2009-05-20,2.0,True,False,False,False,False,133
2010,13/01/2010,A4,2,2009-01-07,2009-05-20,2.0,True,False,False,False,False,133
2011,13/04/2009,A5,3,2009-01-12,2009-04-27,2.0,False,False,False,True,False,105

In [61]:
metadata_df['batch'] = metadata_df['On.Plate'].astype(str).apply(lambda x:x[0])
metadata_df

,datespecimen,On.Plate,cancerstage_cat,datechemostart,datechemoend,chemo,0_0_0,0_0_1,1_0_0,1_1_0,1_1_1,chemo_duration,batch
poiseid,,,,,,,,,,,,,
2006,11/03/2009,A1,3,2008-12-31,2009-04-08,2.0,True,False,False,False,False,98,A
2006,17/06/2009,A2,3,2008-12-31,2009-04-08,2.0,True,False,False,False,False,98,A
2010,17/06/2009,A3,2,2009-01-07,2009-05-20,2.0,True,False,False,False,False,133,A
2010,13/01/2010,A4,2,2009-01-07,2009-05-20,2.0,True,False,False,False,False,133,A
2011,13/04/2009,A5,3,2009-01-12,2009-04-27,2.0,False,False,False,True,False,105,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2005,03/06/2009,H8,2,2008-11-12,2009-01-14,1.0,False,False,False,True,False,63,H
2003,15/01/2009,H9,2,2008-10-24,2009-02-12,2.0,False,False,False,True,False,111,H
2003,02/07/2009,H10,2,2008-10-24,2009-02-12,2.0,False,False,False,True,False,111,H
2002,22/12/2008,H11,3,2008-10-13,2009-01-19,2.0,False,False,False,False,True,98,H
2002,15/04/2009,H12,3,2008-10-13,2009-01-19,2.0,False,False,False,False,True,98,H

In [62]:
metadata_df['collection_date'] = pd.to_datetime(metadata_df['datespecimen'], errors='coerce', dayfirst=True)
metadata_df = metadata_df.drop(columns=['datespecimen', 'On.Plate'])
metadata_df['collection_to_chemo_start'] = (metadata_df['datechemostart'] - metadata_df['collection_date']).dt.days
metadata_df = metadata_df.drop(columns=['datechemostart', 'datechemoend','collection_date'])

metadata_df.head()

,cancerstage_cat,chemo,0_0_0,0_0_1,1_0_0,1_1_0,1_1_1,chemo_duration,batch,collection_to_chemo_start
poiseid,,,,,,,,,,
2006,3,2.0,True,False,False,False,False,98,A,-70.0
2006,3,2.0,True,False,False,False,False,98,A,-168.0
2010,2,2.0,True,False,False,False,False,133,A,-161.0
2010,2,2.0,True,False,False,False,False,133,A,-371.0
2011,3,2.0,False,False,False,True,False,105,A,-91.0

In [ ]:
metadata_df.columns = ['cancer_stage','chemo_type','Triple_Negative','HER2_positive','ER_positive','PR_negative','Triple_Positive','chemo_duration','batch','collection_to_chemo_start']
# save the processed metadata to a new CSV file
metadata_df.to_csv('/Users/harrisonma/Documents/PhD Classes/2025 Spring/CSE 283/CSE-283-Proj/data/pnas_patient_info_processed.csv', index=False)

In [ ]:
metadata_df

,cancer_stage,chemo_type,Triple_Negative,HER2_positive,ER_positive,PR_negative,Triple_Positive,chemo_duration,batch,collection_to_chemo_start
poiseid,,,,,,,,,,
2006,3,2.0,True,False,False,False,False,98,A,-70.0
2006,3,2.0,True,False,False,False,False,98,A,-168.0
2010,2,2.0,True,False,False,False,False,133,A,-161.0
2010,2,2.0,True,False,False,False,False,133,A,-371.0
2011,3,2.0,False,False,False,True,False,105,A,-91.0
...,...,...,...,...,...,...,...,...,...,...
2005,2,1.0,False,False,False,True,False,63,H,-203.0
2003,2,2.0,False,False,False,True,False,111,H,-83.0
2003,2,2.0,False,False,False,True,False,111,H,-251.0
2002,3,2.0,False,False,False,False,True,98,H,-70.0
2002,3,2.0,False,False,False,False,True,98,H,-184.0